CONST
   TL_Corner         = #240    ;
   TR_Corner         = #242    ;
   BL_Corner         = #246    ;
   BR_Corner         = #247    ;
   Horz              = #241    ;
   Vert              = #245    ;
   Left_Junc         = #244    ;
   Right_Junc        = #249    ;
   Top_Junc          = #243    ;
   Bot_Junc          = #248    ;
   Cross             = #250    ;
   Form_Feed         = ^L      ;
   Start_Macro       = ^['+'   ; (* START DEFINING MACRO INSTRUCTION 16 CHARS MAX *)
   Exec_Macro        = ^['!'   ; (* EXECUTE MACRO *)
   End_Macro_Ins     = #30     ; (* END DEFINING MACRO *)
   Accept_8th_Bit    = ^['#'   ; (* ACCEPT 8TH BIT AS IS FROM HOST CPU *)
   Copy_Rom_Chars    = ^['*0'  ; (* COPY PRINTER ROM CHARS TO RAM *)
   Pre_Define_Char   = ^['*1'  ; (* DEFINE CHAR IN RAM n1, n2, m1, m2 *)
   Cancel_Down_Load  = ^['$0'  ; (* CANCEL DOWN LOAD SET 96 CHARS MAX *)
   Select_Down_Load  = ^['$1'  ; (* SELECT DOWN LOAD SET 96 CHARS MAX *)
   Start_Under_Line  = ^['-'^A ; (* START UNDER LINING TEXT *)
   Stop_Under_Line   = ^['-'#0 ; (* STOP UNDER LINING TEXT *)
   LPI06             = ^['2'   ; (* SET LINE FEED TO 12/72 OF AN INCH *)
   LPI08             = ^['0'   ; (* SET LINE FEED TO  9/72 OF AN INCH *)
   LPI09             = ^['A'^H ; (* SET LINE FEED TO  8/72 OF AN INCH *)
   Italics_On        = ^['4'   ; (* SELECT ITALIC CHARS IN ROM *)
   Italics_Off       = ^['5'   ; (* SELECT DEFAULT ROMM CHARS *)
   Reset_Printer     = ^['@'   ; (* SOFTWARE RESET PRINTER *)
   CPL80             = ^['B'^A ;
   CPL96             = ^['B'^B ;
   CPL132            = ^['B'^C ;
   Pre_Graf_60       = ^['K'   ; (* START 60 DOTS PER INCH FOR n1, n2  Col = n1 + n2 * 256 *)
   Pre_Graf_120      = ^['L'   ; (* START 120 DOTS PER INCH FOR n1, n2  CHARS *)
   Pre_Graf_120_Fast = ^['y'   ; (* START 120 DOTS PER INCH IN HIGH SPEED *)
   Pre_Graf_240      = ^['z'   ; (* START 240 DOTS PER INCH n1, n2 *)
   Pre_Set_Left      = ^['M'   ; (* SET LEFT HAND n1 CHARS IN *)
   Pre_Set_Skip      = ^['N'   ; (* SET PERF SKIP *)
   Super_On          = ^['S'#0 ; (* SUPER SCRIPT CHARS *)
   Sub_On            = ^['S'^A ; (* SUB SCRIPT CHARS *)
   Super_Sub_Off     = ^['T'   ; (* OFF SUPER OR SUB SCRIPT NORMAL CHARS *)
   Double_Wide_On    = ^['W'^A ; (* SET DOUBLE WIDE CHARS *)
   Double_Wide_Off   = ^['W'#0 ;
   Empha_On          = ^['E'   ;
   Empha_Off         = ^['F'   ;
   Double_Strike_On  = ^['G'   ;
   Double_Strike_Off = ^['H'   ; (* CANCELS DOUBLE STRIKE MODE *)
   No_Perf_Skip      = ^['O'   ;
